<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type= "text/css" href="{% static 'css/all_howls.css'%}">
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>All Howls</title>
</head>
<body>
	<header id="app_name">
		<div class = "container">
		<h1> HOWLER </h1>
		<h3> A Twitter clone </h3>
	</div>
	</header>

	<nav id="navbar">
		<div class = "container">
			<ul>
				<li> <a href = "/homepage/">Home</a> </li>
				<li><a href = "/howls/">All Howls</a></li>
				<li><a href = "/users/">All Users</a></li>
				<li><a href = "/add/">Follow</a></li>
          <li> <a href="/profile/">Your Profile </a></li>
        <li><a href = "/search/">Search Users</a></li>
				<li><a href = "/logout/">  Logout</a></li>
			</ul>
		</div>
	</nav>
  <h2> All Howls </h2>
  {% for howls in howlobj%}
  {% for userprofile in alluserprofiles%}
  {% if howls.user == userprofile.user %}
  <div class="howls">
  <table border = 0px>
  <tr>
  <td> <img src="{{userprofile.picture.url}}" height = 50 width = 50> </td>
  <td> <a href ="/users/{{userprofile.id}}"}>{{userprofile.user.username}}</a> </td>
  </tr>
  <tr> <td> </td>
  {%endif%}
  {%endfor%}
  <td>
  {{howls.howl}} </td>
  </tr>
  </table>
  </div>
  {%endfor%}

</body>
</html>
