<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type= "text/css" href="{% static 'css/all_users.css'%}">
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
  <header id="app_name">
    <div class = "container">
    <h1> HOWLER </h1>
    <h3> A Twitter clone </h3>
  </div>
  </header>

  <nav id="navbar">
    <div class = "container">
      <ul>
        <li> <a href = "/homepage/">Home</a> </li>
        <li><a href = "/howls/">All Howls</a></li>
        <li><a href = "/users/">All Users</a></li>
        <li><a href = "/add/">Follow</a></li>
          <li> <a href="/profile/">Your Profile </a></li>
        <li><a href = "/search/">Search Users</a></li>
        <li><a href = "/logout/">  Logout</a></li>
      </ul>
    </div>
  </nav>
<h2> All Users </h2>
    {% for u in users %}
    <div class= "users">
      <table border=0>
      <tr>
    <td><img src = "{{u.picture.url}}" height = 50 width = 50></td>
    <td><a href="{%url 'view_user' u.user.id%}">{{u.user.username}}</a></td>
  </tr>
</table>
    {{u.user.first_name}}
    {{u.user.last_name}}
</div>
    <br>
    {%endfor%}

</body>
</html>
