<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <link rel="stylesheet" type= "text/css" href="{% static 'css/login.css'%}">
  <header id="app_name">
    <div class = "container">
    <h1> HOWLER </h1>
    <h3> A Twitter clone </h3>
  </div>
  </header>
      <div class = "form">
      <form method="POST">
          {% csrf_token %}

          <div class="username">
            <p>
            <label>Username</label>
            <input type="text" name = "username">
            </p>
          </div>
          <div class = "password">
            <p>
            <label>Password</label>
            <input type="password" name ="password">
            </p>
            <input type="submit" name ="submit" value="Login"/>
        </div>
        <div class = "signup">
          <br>
          Click the link below to signup </br>
          <a href="/signup/"> Signup </a>
        </div>
      </form>
    </div>
</body>
</html>
